<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="org.obeonetwork.dsl.dart.design.internal.DartDesignerPlugin"
               id="org.obeonetwork.dsl.dart.design"
	       name="dart">
    </component>
  </extension>
</plugin>
